body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;

}
nav {
    padding-left: 600px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

#introduction, .speakers, .team, .events, .about {
    margin-left: 150px;
    margin-right: 150px;
}

#introduction {
    height: 600px;
}

.center {
    padding-left: 80px;
    padding-top: 80px;
}

#slogan, .heavy {
    font-size: 60px;
    font-weight: 1000;
    margin: 20px;
    text-align: center;
}

.get-started{
    text-decoration: none;
    color: white;
    border: 1px groove #008575;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.25em;
}
#image-hero {
    width: 500px;
    height: 500px;
    float: right;
    margin-top: 70px;
}
/* #speakers {
    background-color: #141516;
} */

#team {
    background-color: black;
    color: black;
}

#about {
    color: black;
    padding-top: 40px;
    padding-left: 190px;
    background-color: white;
    line-height: 2em;
}

.white {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .past-events {
      margin: 0, auto;
  }
